@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}


<h2>Roles Admin</h2>
@Html.ActionLink("List of Existing users", "ListUsers", "RolesAdmin", new {@class = "btn btn-primary"})


<hr />

<table class="table table-striped">
    <tr>
        <td>Existing Roles in the System</td>
    </tr>
     @foreach(var item in Model)
     {
        <tr>
            <td>@item.Name</td>
        </tr>
     }
</table>
